---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import reichwein from "../../assets/Reichwein50.png";

---

<Layout title="UdFooter">
  <footer>
    <!-- Hero Container -->
    <div class="flex-col lg:flex px-5 py-16 md:px-10 md:py-20">
      <!-- TOP CONTAINER -->
      <div class="lg:flex lg:flex-row lg:justify-between">
        <!-- LOGO DIV -->
        <div>
          <!-- LOGO -->
          <Image src={reichwein} alt="Reichwein" style="width: 400px"/>
          <p class="font-inter mt-4 max-w-80 text-base font-light text-gray-500"> Development Services & Automotive Testing </p>
        </div>
        <!-- FOOTER LINKS -->
        <div class="flex grow flex-row flex-wrap lg:mx-10 lg:flex-nowrap lg:justify-center">
          <!-- LINK BLOCK -->
          <div class="my-5 mr-8 flex max-w-52 grow basis-24 flex-col space-y-5 lg:mx-10 lg:mt-0">
            <h2 class="font-inter font-medium text-black">TELE</h2>
            <p class="font-inter font-light text-gray-500"> Telefon: 036922 4374-0 </p>
            <p class="font-inter font-light text-gray-500"> Telefax: 036922 4374-18 </p>
          </div>
          <!-- LINK BLOCK -->
          <div class="my-5 mr-8 flex max-w-52 grow basis-24 flex-col space-y-5 lg:mx-10 lg:mt-0">
            <h2 class="font-inter font-medium text-black">EMAIL</h2>
            <p class="font-inter font-light text-gray-500"> info@ds-at-reichwein.de </p>
            <p class="font-inter font-light text-gray-500"> bewerbung@ds-at-reichwein.de </p>
          </div>
          <!-- LINK BLOCK -->
          <div class="my-5 mr-8 flex max-w-52 grow basis-24 flex-col space-y-5 lg:mx-10 lg:mt-0">
            <h2 class="font-inter font-medium text-black">UNTERNEHM</h2>
            <a href="/" class="font-inter font-light text-gray-500"> Home </a>
            <a href="/kontakt" class="font-inter font-light text-gray-500"> Kontakt </a>
            <a href="/karriere" class="font-inter font-light text-gray-500"> Karriere </a>
            <a href="/impressum" class="font-inter font-light text-gray-500"> Impressum </a>
            <a href="/datenschutz" class="font-inter font-light text-gray-500"> Datenschutz </a>
          </div>
        </div>
        <!-- LOCATION & SUPPORT -->
        <div class="mt-10 flex flex-col lg:mt-0">
          <!-- ITEM -->
          <div class="flex flex-row items-center max-w-72">
            <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24"><path fill="currentColor" d="M17.23 8.77h1.54V7.23h-1.54zm0 4h1.54v-1.54h-1.54zm0 4h1.54v-1.54h-1.54zM16 20v-1h5V5h-9.615v2.189l-1-.72V4H22v16zM2 20v-8.5l6-4.27l6 4.27V20H9.27v-4.5H6.73V20zm1-1h2.73v-4.5h4.54V19H13v-7L8 8.489L3 12zm7.27 0v-4.5H5.73V19v-4.5h4.54z"/></svg>
            <p class="font-inter ml-4 text-black"> DS-AT Reichwein GmbH & Co. KG
                Schäferstraße 5
                99837 Werra-Suhl-Tal </p>
          </div>
                        <!-- ITEM -->
                        <div class="mb-12 mt-10 flex flex-row items-center">
                          <svg class="mr-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><circle cx="12" cy="9" r="2.5"/><path d="m9 17l9-11M6 12l8-9.5M7 5l3 2.5M12.01 22c-.354 0-.519-.151-.701-.659c-.48-1.69-1.378-3.15-2.467-4.521c-.986-1.317-2.44-2.816-3.196-4.524C3.546 7.655 6.801 1.992 11.993 2c5.335-.015 8.543 5.851 6.263 10.545a21 21 0 0 1-2.339 3.333c-1.381 1.631-2.622 3.397-3.211 5.466c-.136.399-.31.656-.696.656"/></g></svg>
                          <a href="https://www.google.de/maps/place/DS-AT+Reichwein+GmbH+%26+Co.+KG/@50.946521,10.0805806,718m/data=!3m2!1e3!4b1!4m6!3m5!1s0x47a4a197bf8d3707:0x14224edee46899fb!8m2!3d50.946521!4d10.0805806!16s%2Fg%2F11svp9htm1?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D" class="font-inter text-black">Google Maps<svg class="inline ml-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M19 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h6v2H5v12h12v-6zM13 3v2h4.586l-7.793 7.793l1.414 1.414L19 6.414V11h2V3z"/></svg></a>
                        </div>
          <!-- ITEM -->
          <div class="mb-5 flex flex-row items-center max-w-72">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 5.25H21V18C21 18.1989 20.921 18.3897 20.7803 18.5303C20.6397 18.671 20.4489 18.75 20.25 18.75H3.75C3.55109 18.75 3.36032 18.671 3.21967 18.5303C3.07902 18.3897 3 18.1989 3 18V5.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M21 5.25L12 13.5L3 5.25" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p class="font-inter ml-4 text-black">info@ds-at-reichwein.de</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="mx-auto flex-col lg:flex px-5 py-16 md:px-10 md:py-10 bg-black">
    <div class="lg:flex lg:flex-row lg:justify-between">
      <p class="font-inter text-center text-sm text-white lg:mt-0"> © 2024 DS-AT Reichwein - Dienstleistungen für die Automobilbranche - Alle Rechte vorbehalten </p>
    </div>
  </div>
</Layout>