---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Unsere Dienstleistung">
  <section>
    <!-- Container -->
    <div class="mx-auto max-w-7xl px-5 py-5 md:px-20 md:py-20">
      <!-- Buttons -->
      <div class="flex justify-center">
        <a href="#" class="mr-5 inline-block border items-center bg-black px-40 py-3 text-center font-semibold text-white hover:text-black hover:bg-red-300 hover:border-black"> Zurück </a>
        <a href="#" class="inline-block items-center border border-solid border-black bg-white px-40 py-3 text-center font-semibold text-black hover:border-white hover:text-white hover:bg-red-800"> Home </a>
      </div>
    </div>
  </section>
</Layout>

<style>
	.hover-gradient:hover {
		background: linear-gradient(rgba(var(--accent-dark), 10%), rgba(var(--accent-dark), 100%));
	}

	.hover-gradient-bottom:hover {
		background: linear-gradient(rgba(var(--accent-dark), 100%), rgba(var(--accent-dark), 10%));	
	}
</style>