---
import OPNavReact from "../components/OP/OPNavReact";
import Layout from "../layouts/Layout.astro";
import OPHero from "../components/OP/OPHero.astro";
import OPFooter from "../components/OP/OPFooter.astro";
import OPLinks from "../components/OP/OPLinks.astro";
---

<Layout title="Unsere Dienstleistung">
      <OPNavReact client:idle/>
      <section class="fulll mt-1 mb-40">
        <OPHero />
        <OPLinks />
      </section>
      <OPFooter/>
    </Layout>
    
    <style>
      .fulll {
        background: linear-gradient(rgba(255, 255, 255, 0.5%), rgba(231,64,44, 100%));
      }
</style>