---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kontakt Hero">

<section>
    <!-- Container -->
    <div class="mx-auto max-w-3xl px-5 py-16 text-center md:px-10 md:py-20">
      <!-- Component -->
      <h2 class="text-3xl font-bold md:text-5xl">Kontakt</h2>
      <p class="mx-auto mt-4 max-w-lg text-gray-500">Bei Fragen und für Feedback, Partnerschaften, Kooperationen,</p>
      <p class="mx-auto max-w-lg text-gray-500 md:mb-12 lg:mb-16">kontaktieren Sie uns einfach!</p>
      <!-- Form -->
      <form name="wf-form-name" method="get" class="mx-auto mb-4 text-left sm:px-4 md:px-20">
          <div class="mb-4">
            <label class="mb-1 font-medium"> Ihr Name </label>
            <input type="text" class="block h-9 w-full rounded-md border border-solid border-black px-3 py-6 text-sm text-black" placeholder="" required="" />
          </div>
        <div class="mb-4">
          <label class="mb-1 font-medium"> Telefon/Telefax </label>
          <input type="text" class="mb-4 block h-9 w-full rounded-md border border-solid border-black px-3 py-6 text-sm text-black" />
        </div>
        <div class="mb-4">
          <label class="mb-1 font-medium"> Ihre Email </label>
          <input type="text" class="mb-4 block h-9 w-full rounded-md border border-solid border-black px-3 py-6 text-sm text-black" />
        </div>
        <div class="mb-5 md:mb-6 lg:mb-8">
          <label class="mb-1 font-medium"> Nachricht </label>
          <textarea placeholder="" maxlength="5000" name="field" class="mb-2.5 block h-auto min-h-44 w-full rounded-md border border-solid border-black px-3 py-2 text-sm text-black"></textarea>
        </div>
        <label class="flex items-center cursor-pointer mb-1 justify-center pb-4 md:pl-5">
          <input type="checkbox" style="width: 30px; height: 30px;" required/>
          <span class="ml-4 text-white inline-block cursor-pointer text-sm max-w-48 md:max-w-full"> Wenn Sie dieses Feld abhaken, dann akzeptieren Sie damit unsere <a href="/datenschutz" class="transition duration-150 ease-out text-black underline underline-offset-4 hover:text-red-900"> Datenschutzerklärung.</a>
          </span>
        </label>
        <input type="submit" value="Senden" class="transition duration-150 ease-out inline-block w-full rounded-md cursor-pointer bg-black px-6 py-3 border text-center font-semibold text-white hover:bg-white hover:text-black hover:border-black focus:bg-white focus:text-black focus:border-black " />
      </form>
    </div>
  </section>
</Layout>