---
import GeberNavReact from "../components/geber/geberNavReact";
import Layout from "../layouts/Layout.astro";
import GeberHero from "../components/geber/geberHero.astro";
import GeberFooter from "../components/geber/geberFooter.astro";
---

<Layout title="Unsere Dienstleistung">
      <GeberNavReact client:idle/>
      <section class="fulll -mt-10 mb-20">
        <GeberHero />
      </section>
      <GeberFooter/>
    </Layout>
    
<style>
      .fulll {
        background: linear-gradient(rgba(255, 255, 255, 0.5%), rgba(231,64,44, 100%));
      }
</style>
