---
import KarriereFooter from "../components/karriere/KarriereFooter.astro"
import KarriereHero from "../components/karriere/KarriereHero.astro";
import KarriereNavReact from "../components/karriere/KarriereNavReact";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Karriere">
  <section class="fulll">
    <KarriereNavReact client:idle/>
    <KarriereHero/>
  </section>
  <KarriereFooter />
</Layout>

<style>
      .fulll {
        background: linear-gradient(rgba(255, 255, 255, 0.5%), rgba(231,64,44, 100%));
      }
</style>

