---
import Layout from "../layouts/Layout.astro";
import UzHero from "../components/Uz/UzHero.astro";
import UzFooter from "../components/Uz/UzFooter.astro";
import UzLinks from "../components/Uz/UzLinks.astro";
import UzNavReact from "../components/Uz/UzNavReact";
---

<Layout title="Unsere Dienstleistung">
      <UzNavReact client:idle/>
      <section class="fulll mt-1 mb-40">
        <UzHero />
        <UzLinks />
      </section>
      <UzFooter/>
    </Layout>
    
<style>
      .fulll {
        background: linear-gradient(rgba(255, 255, 255, 0.5%), rgba(231,64,44, 100%));
      }
</style>