---
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import car from "../../assets/Flaggen_1170.jpg";
---

<Layout title="Kontakt Hero">
  <section transition:animate="slide">
    <div class="bg-gray-200">
      <!-- Title Container -->
      <div class="mx-auto w-full max-w-5xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
        <!-- Title Component -->
        <div class="flex flex-col items-stretch self-center text-center">
          <h1 class="mb-5 text-2xl font-bold sm:text-3xl md:text-6xl"> Datenschutzerklärung </h1>
          <p class="text-gray-500 mb-5 text-[13px] md:text-2xl"> Datenschutzerklärungen von DS-AT Reichwein GmbH</p>
          <Picture src={car} alt="car" class="mb-20 inline-block w-full rounded-2xl object-cover max-h-[540px]"/>
          <p style="border: 5px double rgb(0, 0, 0); margin-bottom: -30px;" class="p-1 w-full text-white bg-red-500 mb-5 text-[13px] md:text-2xl"> !!! Das sind nur beispiel Informationnen !!! </p>
        </div>
      </div>
    </div>
    <div class="mx-auto w-full max-w-5xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
      <!-- Terms Component -->
      <div class="flex min-w-full flex-col items-start gap-y-5">
        <!-- Term -->
        <h4 class="mb-5 text-xl font-extrabold sm:text-xl md:text-2xl">1. Datenschutz auf einen Blick Allgemeine Hinweise </h4>
        <p class="mb-2 text-sm">
            Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung. Datenerfassung auf dieser Website Wer ist verantwortlich für die Datenerfassung auf dieser Website?
            <br><br>
            Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen. Wie erfassen wir Ihre Daten?
            <br><br>
            Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
            <br><br>
            Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten. Wofür nutzen wir Ihre Daten?
            <br><br>
            Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden. Welche Rechte haben Sie bezüglich Ihrer Daten?
            <br><br>
            Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben, können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
            <br><br>
            Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden. Analyse-Tools und Tools von Drittanbietern
            <br><br>
            Beim Besuch dieser Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. Das geschieht vor allem mit sogenannten Analyseprogrammen.
            <br><br>
            Detaillierte Informationen zu diesen Analyseprogrammen finden Sie in der folgenden Datenschutzerklärung.
        </p>
        <!-- Term -->
        <h4 class="text-xl font-extrabold sm:text-xl md:text-2xl">2. Hosting</h4>
        <p class="mb-2 text-sm"> Flowspark offers a comprehensive range of design services, including but not limited to graphic design, web design, branding, illustration, and user interface design. The Company will provide the agreed-upon services with professionalism, creativity, and technical expertise, while adhering to industry standards, design principles, and best practices. The specific details, deliverables, timelines, and pricing for each project will be outlined in a separate agreement or proposal, mutually agreed upon by the Company and the Client. </p>
        <!-- Term -->
        <h4 class="text-xl font-extrabold sm:text-xl md:text-2xl">3. Client Responsibilities</h4>
        <p class="mb-2 text-sm"> The Client agrees to provide accurate and timely information, materials, and feedback necessary for the successful completion of the project. The Client is responsible for obtaining any necessary permissions, licenses, or copyrights for materials provided to the Company for use in the project, including but not limited to logos, images, text, and any other intellectual property. The Client acknowledges that delays or failures in providing required materials or feedback may impact project timelines, deliverables, and the overall success of the project. </p>
        <!-- Term -->
        <h4 class="text-xl font-extrabold sm:text-xl md:text-2xl">4. Intellectual Property</h4>
        <p class="mb-2 text-sm"> Any intellectual property rights, including but not limited to copyrights and trademarks, in the final deliverables created by the Company shall be transferred to the Client upon receipt of full payment unless otherwise agreed upon in writing. The Client warrants that any materials provided to the Company for use in the project do not infringe upon the intellectual property rights of any third party. </p>
        <!-- Term -->
        <h4 class="text-xl font-extrabold sm:text-xl md:text-2xl">5. Payment </h4>
        <p class="mb-2 text-sm"> The Client agrees to pay the Company the agreed-upon fees for the services rendered. Payment terms, including the amount, method, and schedule, will be specified in the separate agreement or proposal. The Company reserves the right to suspend or terminate services in the event of non-payment or late payment. </p>
        <h4 class="text-xl font-extrabold sm:text-xl md:text-2xl">6. Confidentiality </h4>
        <p class="mb-2 text-sm"> The Company and the Client agree to keep confidential any proprietary or sensitive information disclosed during the course of the project. Both parties shall take reasonable measures to protect such information from unauthorized access or disclosure. </p>
        <h4 class="text-xl font-extrabold sm:text-xl md:text-2xl">7. Limitation of Liability </h4>
        <p class="mb-2 text-sm"> The Company shall not be liable for any direct, indirect, incidental, or consequential damages arising out of the use or inability to use the services provided. The Client acknowledges that the Company's liability is limited to the amount paid for the services rendered. </p>
        <h4 class="text-xl font-extrabold sm:text-xl md:text-2xl">8. Termination </h4>
        <p class="mb-2 text-sm"> Either party may terminate this Agreement with written notice if the other party breaches any material provision and fails to remedy the breach within a reasonable time. In the event of termination, the Client shall pay the Company for the services provided up to the termination date. </p>
        <!-- Term -->
        <div class="min-h-[1px] min-w-full bg-gray-300"></div>
        <p class="mb-2 text-sm"> By accessing, browsing, or utilizing any design services, communication channels, or materials provided by Flowspark, including but not limited to graphic design, web design, branding, illustration, and user interface design, whether through our website, email, phone, or any other means, you expressly acknowledge, understand, and agree that you have carefully read, comprehended, and fully consent to be legally bound by all the provisions, terms, and conditions set forth in these Terms of Service, including any additional agreements, policies, guidelines, or amendments referenced or incorporated herein. </p>
      </div>
    </div>
  </section>
</Layout>